<%- include("partials/header"); -%>
        <h1>About</h1>
        <div class="a">
        <p><%= abo %></p>
        <p>At our platform, we believe that everyone deserves a safe space to express themselves authentically. Your personal diary is your haven, and we are committed to protecting your privacy and ensuring that your words are seen by no one but you. With us, you can write without inhibition, explore your thoughts and emotions, and witness your personal growth unfold.</p>
        <p>Once again we remind you that, this dairy cannot be seen by us , because its a local host website. Our only role is to provide this site in your system.</p>
        <p>Join us today and experience the freedom of expressing yourself through your personal diary, knowing that your words are safe and secure. Embrace the power of self-reflection and self-discovery. This is your space, your sanctuary, where your diary remains your private treasure</p>
        <p>For any queries, Please <a href="/contact" style="text-decoration: none;">Contact us.</a></p>
    </div>
         
        <%- include("partials/footer"); -%>  